@{
    Layout = "_Layout";
}

<h2> ABOUT US </h2>
<p>
    Ethen Foods Inc. is your supplies of equipments and essential ingredients for Boba Tea Shops. </br>
    We provide industry and trade secrets that will make your Boba Tea business more success. </br>
    From casual shipping to opening your own shop, Ehten Foods is your best solutions. </br>
    The Boba Tea business is a fast and lucrative business, judging from the number of Boba Tea shops htat have open within and outside the metropolis ares in many countries around the world. </br>
    We provide supplies to a broad range of specialty tea/bubble teashops and consumers around the U.S. </br>
    “ Your Total Bubble Tea Resoure”- Ehten Foods Inc. </br>
    If you have any questions,please do not besitate to contact us. </br>
</p>
