<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="~/style/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="~/style/css/Shared.css" type="text/css" />
    </head>

    <body>
        <header>
            <nav>
                <div>
                    <img class="logo" src="~/images/logo1.png" alt="Ethen Foods" />
                    <img class="hamburger" src="~/images/hamburger.png" alt="Hamburger Menu" />
                </div>

                <ul class="menu">
                    <li> <a asp-controller="Home" asp-action="Index">Home</a> </li>
                    <li> <a asp-controller="Home" asp-action="About">About</a> </li>
                    <li> <a asp-controller="Home" asp-action="Contact">Contact</a> </li>
                    <li> <a asp-controller="Shop" asp-action="ProductList">Products</a> </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-controller="Account" asp-action="Logout"> Logout </a>
                        </li>

                        <li>
                            <a asp-controller="Admin" asp-action="Dashboard"> Admin Dashboard </a>
                        </li>

                        <li>
                            <a asp-controller="Shop" asp-action="ShoppingCart"> Cart </a>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a asp-controller="Account" asp-action="Login"> Login </a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Register"> Register </a>
                        </li>
                    }
                </ul>
            </nav>

        </header>

        <main>
            @RenderBody()
        </main>

    </body>
    
    <footer>
        footer
    </footer>

</html>
