@model LoginViewModel

@{
    Layout = "_Layout";
}

<h2>Login</h2>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" required />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" required />
    </div>
    <button type="submit">Login</button>
    <a asp-action="Register" asp-controller="Account"> Register Now </a>
</form>
